.prodcard{
    height: 320px;
    width: 200px;
    border: 1px solid grey;
    border-radius: 15px;
    margin-top: 1rem;
    margin-left: 4rem;
    margin-bottom: 2rem;
  
}
.img{
    height: 170px;
    width: 150px;
    margin:1rem;
    margin-bottom:1px !important;
    
}
.descroption{
    
    align-items: center;
    justify-content: center;
    text-align: center;
}
.prodcard:hover{
    background-color: rgb(227, 232, 232);
}
.btn{
    border-radius: 10px;
    background-color: black;
    color: white;
    padding: 3px;
    width: 100px;

}
.btn:hover{
background-color: white;
color: black;
}
