.navbar{
    width:100% ;
    height: 70px;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: end;
}

.links{
    
    margin-right: 1rem;
    display: flex;
    align-items: center;
    
}
.links-ind{
    margin-left: 1rem;
    font-size: large;
    text-decoration: none;
    color: black;
}
.links-cart{
    font-size: 40px;
}
.links-1{
    font-size: 23px;
}
/* .cart-count{

    position: relative;
    top: -15px;
} */
.cart-div{
    position: relative;
    top: -15px;
    font-size: smaller;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    height: 10px;
    width: 10px;
    border: 1px solid black;
    padding: 1px;
    border-radius:50% ;
    background-color: white;
    color: black;
}